page-home {
 .slide{
        height:auto;
    }
  .money{
      width:25px;
      height:25px;
   
  } 
 
  p{
      font-size:15px;
  }
  .money2{
    width:25px;
    height:25px;
     margin-left:15%;
}
.infor{
    width:25px;
    height:25px;
} 

.bb{
    font-size:30px;
}
.cc{
    color:#e8e8e8;
}
.ee{
    margin-top:30px;
}
.dd{
    margin-top:30px;
}
.im{
    width:60px;
    height:60px;
}
.ff{
    float:left;
    margin-left:0px;
}
.hh{
    float:left;
    margin-left:20px;
}
.gg{
    color:black;
}
.pp{
    color:#c94966;
    font-size:26px;
}
.ah{
    float:left;
    margin-left:8px;
    margin-top:23px;
}

}
