*{
    padding:0;
    margin:auto;
} 
.con{
    background-color: aquamarine;
}

 img{
   
    margin-left:100px;
    width:150px;
    height:150px;
    border-radius:50%;
  color: aquamarine;
    
 }
 .list{
     margin-top:100px;
    color: aquamarine;
 }

.log{
    margin-left:35%;
}